<!-- Page Content -->
<div class="panel panel-primary">

  <div class='panel-heading' style='font-size:large'>
    Profile
  </div>

  <div class='panel-body'>
    <!-- Project One -->
    <div class="row" *ngFor='let user of users'>
      <div class="col-md-3 center">
        <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" [src]='user.photoUrl' alt="">
          </a>
      </div>
      <div class="col-md-9">
        <h3>{{user.first}} {{user.last}}</h3>
        <br>DOB: {{user.dob}}
        <br>Marital Status: {{user.maritalStatus}}
        <br>Education: {{user.education}}
        <br>City: {{user.city}}
        <br>Country: {{user.country}}
        <br>Mobile Number: {{user.mobileNumber}}
        <br> <br><a class="btn btn-primary" [routerLink]="['/userdetail', user.username]">
            View Profile</a>
        <br><br><br><br>
      </div>


    </div>

  </div>

</div>